#game{
    font-family: 'Papyrus' ;
    border : 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}
.butt{
    line-height: 30px;
    width :150px;
}
#playerText{
    color : blue;
}
#compText{
    color : red;
}